<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#" method="POST">

    <label for="time">Time (0 - 175000)</label> <br>
    <input type="number" name="time" value="80000"><br>

    <label for="v1">V1 (-60 - 2.46)</label> <br>
    <input type="number" name="v1" value="1"> <br>

    <label for="v2">V2</label> <br>
    <input type="number" name="v2" value="1"> <br>

    <label for="v3">V3</label> <br>
    <input type="number" name="v3" value="1"> <br>

    <label for="v4">V4</label> <br>
    <input type="number" name="v4" value="1"> <br>

    <label for="v5">V5</label> <br>
    <input type="number" name="v5" value="1"> <br>

    <label for="v6">V6</label> <br>
    <input type="number" name="v6" value="1"> <br>

    <label for="v7">V7</label> <br>
    <input type="number" name="v7" value="1"> <br>

    <label for="v8">V8</label> <br>
    <input type="number" name="v8" value="1"> <br>

    <label for="v9">V9</label> <br>
    <input type="number" name="v9" value="1"> <br>

    <label for="v10">V10</label> <br>
    <input type="number" name="v10" value="1"> <br>

    <label for="v11">V11</label> <br>
    <input type="number" name="v11" value="1"> <br>

    <label for="v12">V12</label> <br>
    <input type="number" name="v12" value="1"> <br>

    <label for="v13">V13</label> <br>
    <input type="number" name="v13" value="1"> <br>

    <label for="v14">V14</label> <br>
    <input type="number" name="v14" value="1"> <br>

    <label for="v15">V15</label> <br>
    <input type="number" name="v15" value="1"> <br>

    <label for="v16">V16</label> <br>
    <input type="number" name="v16" value="1"> <br>

    <label for="v17">V17</label> <br>
    <input type="number" name="v17" value="1"> <br>

    <label for="v18">V18</label> <br>
    <input type="number" name="v18" value="1"> <br>

    <label for="v19">V19</label> <br>
    <input type="number" name="v19" value="1"> <br>

    <label for="v20">V20</label> <br>
    <input type="number" name="v20" value="1"> <br>

    <label for="v21">V21</label> <br>
    <input type="number" name="v21" value="1"> <br>

    <label for="v22">V22</label> <br>
    <input type="number" name="v22" value="1"> <br>

    <label for="v23">V23</label> <br>
    <input type="number" name="v23" value="1"> <br>

    <label for="v24">V24</label> <br>
    <input type="number" name="v24" value="1"> <br>

    <label for="v25">V25</label> <br>
    <input type="number" name="v25" value="1"> <br>

    <label for="v26">V26</label> <br>
    <input type="number" name="v26" value="1"> <br>

    <label for="v27">V27</label> <br>
    <input type="number" name="v27" value="1"> <br>

    <label for="v28">V28</label> <br>
    <input type="number" name="v28" value="1"> <br>

    <label for="amount">Amount</label> <br>
    <input type="number" name="amount" value="1"> <br>

<input type="submit" value="P R E D I C T">  
<p>

    {% if result%}
    {{ result }}
    {%else%}
    no prediction made
    {%endif%}

</p>

    </form>
</body>
</html>