<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRAUD DETECTION</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <div id="main">
        <h2 id="title">FRAUD <span>DETECTION</span></h2>
        <div>
            <img src="https://www.getloanme.com/uploads/files/how-to-get-approved-for-a-business-credit-card.jpg" alt="Credit Card">
        </div>
        <div>
            <p id="image caption">Credit Card Fraud Detection</p>
        </div>   
        <form action="{{ url_for('predict')}}"method="post">    
        <div>
            <table id = "center" style="border: 1px solid black;">            
                
                <tr>
                    <td>
                        <ul>
                            <li>
                                <label for="time">Time</label> <br>
                                <input type="number" name="time" value="84692.000000" min="0.000000" max="172792.000000"> <br>
                            </li>
                            <li>
                                <label for="v1">V1</label> <br>
                                <input type="number" name="v1" value="-56.407510" min="-56.407510" max="2.454930"> <br>
                            </li>
                            <li>
                                <label for="v2">V2</label> <br>
                                <input type="number" name="v2" value="21.284272" min="-72.715728" max="22.057729"> <br>
                            </li>
                            <li>
                                <label for="v3">V3</label> <br>
                                <input type="number" name="v3" value="-48.325589" min="-48.325589" max="9.382558"> <br>
                            </li>
                            <li>
                                <label for="v4">V4</label> <br>
                                <input type="number" name="v4" value="-5.683171" min="-5.683171", max="16.875344"> <br>
                            </li>       
                        </ul>
                    </td> 

                    <td>
                        <ul>
                            <li>
                                <label for="v5">V5</label> <br>
                                <input type="number" name="v5" value="34.256693" min="-113.743307", max="34.801666"> <br>  
                            </li>
                            <li>
                                <label for="v6">V6</label> <br>
                                <input type="number" name="v6" value="-26.160506" min="-26.160506" max="73.301626"> <br>
                            </li>
                            <li>
                                <label for="v7">V7</label> <br>
                                <input type="number" name="v7" value="120.442758" min="-43.557242" max="120.589494"> <br>                                
                            </li>
                            <li>
                                <label for="v8">V8</label> <br>
                                <input type="number" name="v8" value="-73.216718" min="-73.216718" max="20.007208"> <br>
                            </li>
                            <li>
                                <label for="v9">V9</label> <br>
                                <input type="number" name="v9" value="15.565934" min="-13.434066" max="15.594995"> <br>
                            </li>
                        </ul>
                  
                    </td>
                    <td>
                        <ul>
                            <li>
                                <label for="v10">V10</label> <br>
                                <input type="number" name="v10" value="-24.588262" min="-24.588262" max="23.745136"> <br>
                            </li>
                            <li>
                                <label for="v11">V11</label> <br>
                                <input type="number" name="v11" value="11.202527" min="-4.797473" max="12.018913"> <br>
                            </li>
                            <li>
                                <label for="v12">V12</label> <br>
                                <input type="number" name="v12" value="-18.683715" min="-18.683715" max="7.848392"> <br>
                            </li>
                            <li>
                                <label for="v13">V13</label> <br>
                                <input type="number" name="v13" value="6.208119" min="-5.791881" max="7.126883"> <br>
                            </li>
                            <li>
                                <label for="v14">V14</label> <br>
                                <input type="number" name="v14" value="-19.214325" min="-19.214325" max="10.526766"> <br>
                            </li>
                        </ul>

                    </td>
                    <td>
                        <ul>
                            <li>
                                <label for="v15">V15</label> <br>
                                <input type="number" name="v15" value="8.501055" min="-4.498945" max="8.877742"> <br>
                            </li>
                            <li>
                                <label for="v16">V16</label> <br>
                                <input type="number" name="v16" value="-0.129855" min="-14.129855" max="17.315112"> <br>
                            </li>
                            <li>
                                <label for="v17">V17</label> <br>
                                <input type="number" name="v17" value="8.837201" min="-25.162799" max="9.253526"> <br>
                            </li>
                            <li>
                                <label for="v18">V18</label> <br>
                                <input type="number" name="v18" value="-9.498746" min="-9.498746" max="5.041069"> <br>
                            </li>
                            <li>
                                <label for="v19">V19</label> <br>
                                <input type="number" name="v19" value="4.786473" min="-7.213527" max="5.591971"> <br>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>
                                <label for="v20">V20</label> <br>
                                <input type="number" name="v20" value="-54.497720" min="-54.497720" max="39.420904"> <br>
                            </li>
                            <li>
                                <label for="v21">V21</label> <br>
                                <input type="number" name="v21" value="27.169618" min="-34.830382" max="27.202839"> <br>
                            </li>
                            <li>
                                <label for="v22">V22</label> <br>
                                <input type="number" name="v22" value="-10.933144" min="-10.933144" max="10.503090"> <br>
                            </li>
                            <li>
                                <label for="v23">V23</label> <br>
                                <input type="number" name="v23" value="22.192265" min="-44.807735" max="22.528412"> <br>
                            </li>
                            <li>
                                <label for="v24">V24</label> <br>
                                <input type="number" name="v24" value="-2.836627" min="-2.836627" max="4.584549"> <br>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>
                                <label for="v25">V25</label> <br>
                                <input type="number" name="v25" value="6.704603" min="-10.295397" max="7.519589"> <br>
                            </li>
                            <li>
                                <label for="v26">V26</label> <br>
                                <input type="number" name="v26" value="-2.604551" min="-2.604551" max="3.517346"> <br>
                            </li>
                            <li>
                                <label for="v27">V27</label> <br>
                                <input type="number" name="v27" value="31.434321" min="-22.565679" max="31.612198"> <br>
                            </li>
                            <li>
                                <label for="v28">V28</label> <br>
                                <input type="number" name="v28" value="-15.430084" min="-15.430084" max="33.847808"> <br>
                            </li>
                            <li>
                                <label for="amount">Amount</label> <br>
                                <input type="number" name="amount" value="25691" min="0.000000" max="25691.160000"> <br>
                            </li>
                        </ul>
                    </td>                    
                </tr>      
                
            </table>
            <div id="marvel">
                <h1 class="comics">PREDICT</h1>
                <div class="list">
                    <button type="submit" class="btn btn-primary btn-block btn-lg">PREDICT</button>
                    <p>
                        {{ prediction_text }}                
                    </p>   
                </div>
            </div>
            
        </div>
        </form>    
        <div id="footer">
            <p>Read more about Fraud Detection on <a href="https://en.wikipedia.org/wiki/Data_analysis_techniques_for_fraud_detection" id= "link" target="_blank">wikipedia</a></p>
        </div>