<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#" method="POST">

    <label for="time">Time (0 - 175000)</label> <br>
    <input type="number" name="time" value="84692.0"><br>

    <label for="v1">V1 (-60 - 2.46)</label> <br>
    <input type="number" name="v1" value="0.018109"> <br>

    <label for="v2">V2 (-75 - 25)</label> <br>
    <input type="number" name="v2" value="0.065486"> <br>

    <label for="v3">V3 (-50 - 10)</label> <br>
    <input type="number" name="v3" value="0.179846"> <br>

    <label for="v4">V4 (-6 - 17)</label> <br>
    <input type="number" name="v4" value="-0.019847"> <br>

    <label for="v5">V5 (-115 - 35)</label> <br>
    <input type="number" name="v5" value="-0.054336"> <br>

    <label for="v6">V6 (-27 - 75)</label> <br>
    <input type="number" name="v6" value="-0.274187"> <br>

    <label for="v7">V7 (-42 - 120)</label> <br>
    <input type="number" name="v7" value="0.040103"> <br>

    <label for="v8">V8 (-75 - 20)</label> <br>
    <input type="number" name="v8" value="0.022358"> <br>

    <label for="v9">V9 (-15 - 15)</label> <br>
    <input type="number" name="v9" value="-0.051429"> <br>

    <label for="v10">V10 (-25 - 25)</label> <br>
    <input type="number" name="v10" value="-0.092917"> <br>

    <label for="v11">V11 (-5 - 12)</label> <br>
    <input type="number" name="v11" value="-0.032757"> <br>

    <label for="v12">V12 (-20 - 8)</label> <br>
    <input type="number" name="v12" value="0.140033"> <br>

    <label for="v13">V13 (-6 - 7)</label> <br>
    <input type="number" name="v13" value="-0.013568"> <br>

    <label for="v14">V14 (-20 - 10)</label> <br>
    <input type="number" name="v14" value="0.050601"> <br>

    <label for="v15">V15 (-5 - 9)</label> <br>
    <input type="number" name="v15" value="0.048072"> <br>

    <label for="v16">V16 (-15 - 18)</label> <br>
    <input type="number" name="v16" value="0.066413"> <br>

    <label for="v17">V17 (-25 - 10)</label> <br>
    <input type="number" name="v17" value="-0.065676"> <br>

    <label for="v18">V18 (-10 - 5)</label> <br>
    <input type="number" name="v18" value="-0.003636"> <br>

    <label for="v19">V19 (-8 - 6)</label> <br>
    <input type="number" name="v19" value="0.003735"> <br>

    <label for="v20">V20 (-55 - 40)</label> <br>
    <input type="number" name="v20" value="-0.062481"> <br>

    <label for="v21">V21 (-35 - 28)</label> <br>
    <input type="number" name="v21" value="-0.029450"> <br>

    <label for="v22">V22 (-11 - 11)</label> <br>
    <input type="number" name="v22" value="0.006782"> <br>

    <label for="v23">V23 (-45 - 23)</label> <br>
    <input type="number" name="v23" value="-0.011193"> <br>

    <label for="v24">V24 (-3 - 5)</label> <br>
    <input type="number" name="v24" value="0.040976"> <br>

    <label for="v25">V25 (-10 - 8)</label> <br>
    <input type="number" name="v25" value="0.016594"> <br>

    <label for="v26">V26 (-3 - 4)</label> <br>
    <input type="number" name="v26" value="-0.052139"> <br>

    <label for="v27">V27 (-23 - 32)</label> <br>
    <input type="number" name="v27" value="0.001342"> <br>

    <label for="v28">V28 (-15 - 34)</label> <br>
    <input type="number" name="v28" value="0.011244"> <br>

    <label for="amount">Amount (0 - 26000)</label> <br>
    <input type="number" name="amount" value="22.000000"> <br>

<input type="submit" value="P R E D I C T">  
<p>

    {% if result%}
    {{ result }}
    {%else%}
    no prediction made
    {%endif%}

</p>

    </form>
</body>
</html>