output.json
Nisanyan Words Dont Contain Plus.xlsx
Nisanyan Words Contain Plus.xlsx
Etimolojiturk.xlsx
Nisanyan Words For English.xlsx
Turkish_English_All_Unique_Word.xlsx
Turkish_English_Github_Etimoloji_Nisanyan_Concat_Result.xlsx
