pandas
numpy
nltk
regex
openpyxl
pillow
opencv-python
scrapy
beautifulsoup4
matplotlib
seaborn
scikit-learn
scipy
yellowbrick
tensorflow
keras
torch
moviepy
youtube-data-api
gTTS
firebase
pyodbc
imutils
wordcloud
geopy
geopandas
geodatasets
mplleaflet
streamlit
joblib
pickleshare