g_Igztvb0RZ0UkLclbPyS.json
tr.lemma.boun.json
tr.lemma.framenet.json
tr.lemma.imst.json
tr.lemma.json
tr.lemma.kenet.json
tr.lemma.penn.json
tr.lemma.atis.json
tr.lemma.spacylookup.json
tr.lemma.tourism.json
10000 word.xlsx
Turkish_10000_Word_All_Lemma_Result.xlsx
